# Programación para a Data Science

## Unidad 6: Preprocesamiento de datos en Python

## Introducción

A continuación encontraréis una posible solución a los ejercicios propuestos en la PEC. 
Tened en cuenta que pueden existir otras maneras de resolver los ejercicios, que también son válidas 
(y que también permiten obtener la máxima puntuación del ejercicio).

# Ejercicio 1

Importa el fichero `siri.csv` de la carpeta de datos. En ella encontrarás notas (en un rango de 0 a 10) correspondientes a estudiantes de tres escuelas diferentes para cuatro asignaturas. Una vez importados los datos, realiza las siguientes operaciones:

a) Muestra por pantalla una lista de las diferentes escuelas en los datos. En caso no observar tres escuelas por errores tipográficos, mayúsculas y otros, corrige la nomenclatura para homogeneizar una columna con las tres escuelas. 


**(1 punto)**  <span style="font-family: Courier New; background-color: #82b74b; color: #000000; padding: 2px; ">NM</span>

In [1]:
import numpy as np
import pandas as pd

d = pd.read_csv("data/siri.csv", delimiter = ',')

In [2]:
# Vemos con qué variables se codifican las tres escuelas
# Nos damos cuenta que hay diferencias entre mayúsculas/minúsculas
#    así como algún typo  en algunas de ellas

print(d["school"].unique())

['Summer' 'summer' 'Sumer' 'sumer' 'ummer' 'winter' 'Winter' 'spring'
 'Spring' 'Sprng']

In [3]:
# Vamos a corregir la codificación con el mismo nombre de escuela
#    para cada una de las tres

d.loc[(d.school == "Summer") | 
      (d.school == "summer") | 
      (d.school == "Sumer")| 
      (d.school == "sumer")| 
      (d.school == "ummer"), "school"] = "Summer"
d.loc[(d.school == "winter") | 
      (d.school == "Winter") , "school"] = "Winter"
d.loc[(d.school == "spring") | 
      (d.school == "Spring")| 
      (d.school == "Sprng") , "school"] = "Spring"

In [4]:
print(d["school"].unique())

['Summer' 'Winter' 'Spring']


b) Buscar notas claramente anómalas. En caso de encontrar notas anómalas sustitúyelas por NaN.


**(1 punto)**  <span style="font-family: Courier New; background-color: #f2ae72; color: #000000; padding: 3px; ">EI</span>

In [5]:
#   Vemos que hay notas por encima de 10

d.describe()

            maths  literature     physics     history
count  148.000000  144.000000  145.000000  148.000000
mean     6.125676    3.064583    4.461379    1.193243
std      3.752716    0.440354    8.290475    0.764489
min      4.300000    2.000000    1.000000    0.100000
25%      5.100000    2.800000    1.600000    0.300000
50%      5.800000    3.000000    4.400000    1.300000
75%      6.400000    3.325000    5.100000    1.800000
max     50.400000    4.400000  101.400000    2.500000

In [6]:
# Alternativamente lo podemos ver aplicando las funciones max
#    y min al data frame
d.agg([max,min])

     maths  literature  physics  history  school
max   50.4         4.4    101.4      2.5  Winter
min    4.3         2.0      1.0      0.1  Spring

In [7]:
# Observamos también que tenemos valores perdidos
#  antes de corregir las notas erróneas
np.any(d.isna())

True

In [8]:
# Primero controlamos las notas erróneas
# Para corregir las notas erróneas os damos dos 
# soluciones, las dos usando el método applymap
# applymap aplica una función a cada elemento del
# data frame

# La primera es usa una función lambda
#  lambda define una función en línea, dentro del argumento

d.iloc[:,:-1] = d.iloc[:,:-1].applymap(
    lambda x: x if x<=10 else np.nan)

In [9]:
# Alternativamente podemos definir una función fuera
# y aplicarla a cada elemento con la ayuda de appymap

def check_nan(x):
    if x <= 10:
        return x
    else:
        return np.nan
d.iloc[:,:-1] = d.iloc[:,:-1].applymap(check_nan)

In [10]:
#Miramos la proporción (en %) de NaNs por variable
d.isna().agg(np.mean)*100

maths         2.000000
literature    4.000000
physics       4.000000
history       1.333333
school        0.000000
dtype: float64


c) Encuentra los valores perdidos. Imputa los valores perdidos por la media de los datos por columna 


**(0.5 puntos)**  <span style="font-family: Courier New; background-color: #82b74b; color: #000000; padding: 2px; ">NM</span>

In [33]:
# Ya hemos visto en los notebooks de teoría que tenemos el método SimpleImputer del módulo
#    impute de sklearn
# Creamos una instáncia del imputador y luego la aplicamos a nuestros datos
# También podríamos usar el método .fit_transform en vez de hacer esto en 
#   dos pasos 


from sklearn.impute import SimpleImputer
imp = SimpleImputer(missing_values=np.nan, 
                    strategy='mean')

imp.fit(d.iloc[:,:-1])
d.iloc[:,:-1] = imp.transform(d.iloc[:,:-1])

d) Comprueba que ya no hay valores perdidos en el objeto pandas. 

**(0.5 puntos)**  <span style="font-family: Courier New; background-color: #82b74b; color: #000000; padding: 2px; ">NM</span>

In [34]:
# Observamos si ahora tenemos valores perdidos
np.any(d.isna())

False

## Ejercicio 2


En este ejercicio trabajaremos un conjunto de datos que se derivó del censo estadounidense de 1990, utilizando una fila por censo
dentro de un grupo de viviendas o bloques. Un grupo de bloques es la unidad geográfica más pequeña para la que La Oficina del Censo de  EE.UU.
publica datos de muestra (un grupo de bloques generalmente tiene una población
de 600 a 3,000 personas).


  - Pace, R. Kelley and Ronald Barry, Sparse Spatial Autoregressions,
      Statistics and Probability Letters, 33 (1997) 291-297

a) Generar un objeto `pandas` de nombre `housings` con los datos que genera la función `datasets.fetch_california_housing()` dentro de `sklearn`. El objeto debe contener todas las variables del conjunto de datos incluida una columna con los valores de  `Prices` (target). 


**(1 punto)**  <span style="font-family: Courier New; background-color: #ffcc5c; color: #000000; padding: 3px; ">EG</span>

In [35]:
# Vemos por la documentación que el método fetch_california_housing
#  del módulo de datasets baja estos datos de internet y nos devuelve 
#  un bunch, de forma similar a iris.
# Vemos que los precios "Prices" están en la variable de target del bunch


import numpy as np
import pandas as pd
from sklearn import datasets

housings_bunch = datasets.fetch_california_housing()

housings = pd.DataFrame(housings_bunch['data'],
                 columns=housings_bunch['feature_names'])
housings['Prices'] =  housings_bunch['target']

b) Obtener, los nombres de las variables, el número total de filas y columnas, y comprobar la posible existencia de valores perdidos en los datasets. Obtener la media, desviación típica, valores máximos y mínimos de todas las variables del data frame.


**(0.5 puntos)**  <span style="font-family: Courier New; background-color: #82b74b; color: #000000; padding: 2px; ">NM</span>

In [36]:
# El método .describe() nos da la información estadística
print(housings.shape)
print(housings.columns)

# el método .any() nos indica si alguno es True 
print(housings.isna().any(axis=0))
housings.describe()

(20640, 9)
Index(['MedInc', 'HouseAge', 'AveRooms', 'AveBedrms', 'Population', 'AveOccup',
       'Latitude', 'Longitude', 'Prices'],
      dtype='object')
MedInc        False
HouseAge      False
AveRooms      False
AveBedrms     False
Population    False
AveOccup      False
Latitude      False
Longitude     False
Prices        False
dtype: bool

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,Prices
count,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000
mean,3.870671,28.639486,5.429000,1.096675,1425.476744,3.070655,35.631861,-119.569704,2.068558
std,1.899822,12.585558,2.474173,0.473911,1132.462122,10.386050,2.135952,2.003532,1.153956
min,0.499900,1.000000,0.846154,0.333333,3.000000,0.692308,32.540000,-124.350000,0.149990
25%,2.563400,18.000000,4.440716,1.006079,787.000000,2.429741,33.930000,-121.800000,1.196000
50%,3.534800,29.000000,5.229129,1.048780,1166.000000,2.818116,34.260000,-118.490000,1.797000
75%,4.743250,37.000000,6.052381,1.099526,1725.000000,3.282261,37.710000,-118.010000,2.647250
max,15.000100,52.000000,141.909091,34.066667,35682.000000,1243.333333,41.950000,-114.310000,5.000010

c) Calcula la correlación de la variable `Prices` con el resto de variables. Ordena el vector de correlaciones de mayor a menor en valor absoluto. ¿Qué variable aparece con más correlación con los precios? Interpreta los resultados.


**(0.5 puntos)**  <span style="font-family: Courier New; background-color: #82b74b; color: #000000; padding: 2px; ">NM</span>

In [37]:
# Calculamos la correlación con el método .corr()

housings_c = housings.corr()
housings_c

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,Prices
MedInc,1.000000,-0.119034,0.326895,-0.062040,0.004834,0.018766,-0.079809,-0.015176,0.688075
HouseAge,-0.119034,1.000000,-0.153277,-0.077747,-0.296244,0.013191,0.011173,-0.108197,0.105623
AveRooms,0.326895,-0.153277,1.000000,0.847621,-0.072213,-0.004852,0.106389,-0.027540,0.151948
AveBedrms,-0.062040,-0.077747,0.847621,1.000000,-0.066197,-0.006181,0.069721,0.013344,-0.046701
Population,0.004834,-0.296244,-0.072213,-0.066197,1.000000,0.069863,-0.108785,0.099773,-0.024650
AveOccup,0.018766,0.013191,-0.004852,-0.006181,0.069863,1.000000,0.002366,0.002476,-0.023737
Latitude,-0.079809,0.011173,0.106389,0.069721,-0.108785,0.002366,1.000000,-0.924664,-0.144160
Longitude,-0.015176,-0.108197,-0.027540,0.013344,0.099773,0.002476,-0.924664,1.000000,-0.045967
Prices,0.688075,0.105623,0.151948,-0.046701,-0.024650,-0.023737,-0.144160,-0.045967,1.000000

In [38]:
# De la matriz de correlación, nos interesa solo la correlación con la
# variable Prices, así que: 

p = housings_c.Prices
p =  abs(p)
p.sort_values(ascending=False)

# Parece que los precios parecen más relacionados con el sueldo 
# número de habitaciones y latitud que con la población, longitud y 
# ocupación media

Prices        1.000000
MedInc        0.688075
AveRooms      0.151948
Latitude      0.144160
HouseAge      0.105623
AveBedrms     0.046701
Longitude     0.045967
Population    0.024650
AveOccup      0.023737
Name: Prices, dtype: float64

## Ejercicio 3

Con la mismo dataset anterior:

a) Con cada una de las variables `Latitude` y `Longitude`, crea dos variables discretizadas con 10 segmentos, de forma que:

- en las primeras cada intervalo contenga el mísmo número de muestras (equidensidad por segmento) en (`qLat`, `qLon`) 
- en las segundas cada intervalo tengan la misma longitud de intervalo (equidistancia por segmento) en (`sLat`,`sLon`) 


**(1 punto)**  <span style="font-family: Courier New; background-color: #f2ae72; color: #000000; padding: 3px; ">EI</span>

In [39]:

# el método qcut() calcula los cortes mantieniendo 
#    la densidad por segmento

housings["qLat"] = pd.qcut(housings["Latitude"], 10)
housings["qLon"] = pd.qcut(housings["Longitude"], 10)


# El método .cut() obtiene segmentos equiespaciados

housings["sLat"] = pd.cut(housings["Latitude"], 10)
housings["sLon"] = pd.cut(housings["Longitude"], 10)

b) Observa la distribución en las variables discretizadas calculando el número de muestras dentro de cada intérvalo. Podéis mirar el método de pandas .value_counts() para contar valores de cada grupo. 

**(0.5 puntos)** <span style="font-family: Courier New; background-color: #ffcc5c; color: #000000; padding: 3px; ">EG</span>

In [40]:
# El método .value_counts() es un método propio a pandas, 
#   así que lo podemos aplicar a las variables de interés 

housings['qLat'].value_counts()

(33.63, 33.87]     2160
(34.0, 34.1]       2138
(37.48, 37.81]     2112
(32.539, 33.63]    2092
(36.66, 37.48]     2073
(38.48, 41.95]     2061
(33.87, 34.0]      2058
(37.81, 38.48]     2005
(34.26, 36.66]     2000
(34.1, 34.26]      1941
Name: qLat, dtype: int64

In [41]:
housings['sLat'].value_counts()

(33.481, 34.422]    8987
(37.245, 38.186]    4712
(32.531, 33.481]    1796
(38.186, 39.127]    1740
(36.304, 37.245]    1292
(34.422, 35.363]     747
(39.127, 40.068]     490
(35.363, 36.304]     474
(40.068, 41.009]     324
(41.009, 41.95]       78
Name: sLat, dtype: int64

c) Muestra

- los precios promedio por cada segmento de Latitud (sLat)

- los precios promedio por cada segmento de Longitud (sLon)


**(1 puntos)**  <span style="font-family: Courier New; background-color: #82b74b; color: #000000; padding: 2px; ">NM</span>

In [42]:
# Agrupamos las Latitudes con el método .groupby()
#  luego calculamos la estadística

housings.groupby('sLat').agg([np.mean,np.std]).Prices

<ipython-input-42-619b3924a459>:4: FutureWarning: ['qLat', 'qLon', 'sLon'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.
  housings.groupby('sLat').agg([np.mean,np.std]).Prices

                      mean       std
sLat
(32.531, 33.481]  1.933825  1.002090
(33.481, 34.422]  2.287872  1.125460
(34.422, 35.363]  1.713885  1.081505
(35.363, 36.304]  0.913435  0.548389
(36.304, 37.245]  1.570614  1.106603
(37.245, 38.186]  2.424769  1.224680
(38.186, 39.127]  1.516993  0.666301
(39.127, 40.068]  1.048045  0.420524
(40.068, 41.009]  0.872176  0.258943
(41.009, 41.95]   0.732103  0.243282

In [43]:
# Igualmente para las longitudes 

housings.groupby('sLon').agg([np.mean,np.std]).Prices

<ipython-input-43-0257024d7d8c>:3: FutureWarning: ['qLat', 'qLon', 'sLat'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.
  housings.groupby('sLon').agg([np.mean,np.std]).Prices

                          mean       std
sLon
(-124.36, -123.346]   0.966016  0.359620
(-123.346, -122.342]  2.640850  1.280013
(-122.342, -121.338]  2.189859  1.157531
(-121.338, -120.334]  1.370753  0.595856
(-120.334, -119.33]   1.317344  1.049821
(-119.33, -118.326]   2.633149  1.369861
(-118.326, -117.322]  2.094742  0.969399
(-117.322, -116.318]  1.740253  0.934753
(-116.318, -115.314]  0.819301  0.421321
(-115.314, -114.31]   0.688688  0.414452

d) Calcula y muestra la media y la desviación típica para todas las variables para cada combinación de Latitud y Longitud en ambos casos (equidensidad por segmento, equidistancia por segmento). 
Observación: quita las filas que contengan algún NaN del dataframe resultante. 

**(1 puntos)**  <span style="font-family: Courier New; background-color: #82b74b; color: #000000; padding: 2px; ">NM</span>

In [22]:
# De forma parecida al ejercio anterior, pero ahora indicando las dos
#    variables en vez de una sola:

qM = housings.groupby(['qLat','qLon']).agg([np.mean, np.std])
qM = qM[qM.notna().all(axis=1)]

<ipython-input-22-454696765839>:4: FutureWarning: ['sLat', 'sLon'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.
  qM = housings.groupby(['qLat','qLon']).agg([np.mean, np.std])

In [23]:
qM

                                       MedInc             HouseAge             \
                                         mean       std       mean        std
qLat            qLon
(32.539, 33.63] (-118.49, -118.3]    2.744420  0.444180  42.400000  13.164346
                (-118.13, -117.89]   5.882535  2.362263  30.557692   8.564435
                (-117.89, -117.25]   5.039886  2.312767  18.984252  10.274715
                (-117.25, -114.31]   3.596781  1.637609  23.563851  11.482094
(33.63, 33.87]  (-118.49, -118.3]    5.469732  2.003316  30.471545   8.771312
                (-118.3, -118.13]    3.403173  1.212555  34.924812  10.009260
                (-118.13, -117.89]   4.494720  1.490364  26.284382   8.139149
                (-117.89, -117.25]   5.110573  2.142979  19.108932  10.166362
                (-117.25, -114.31]   3.076170  1.322040  15.777778   7.764367
(33.87, 34.0]   (-119.91, -118.49]   3.750171  2.090202  38.000000  11.328430
                (-118.49, -118.3]    4.016103  1.601272  36.275797   9.433230
                (-118.3, -118.13]    2.485158  0.947699  36.111773   7.248532
                (-118.13, -117.89]   4.396109  1.483095  31.173824   8.076254
                (-117.89, -117.25]   4.325288  1.809000  23.413194  11.308754
                (-117.25, -114.31]   2.945431  1.255333  17.142857  10.069736
(34.0, 34.1]    (-119.91, -118.49]   7.593832  3.684406  33.323077  10.628834
                (-118.49, -118.3]    3.937410  2.753832  38.338485  10.339056
                (-118.3, -118.13]    2.444141  0.989802  38.064516   9.832804
                (-118.13, -117.89]   3.575224  1.012486  32.117347   6.912793
                (-117.89, -117.25]   3.447544  1.358013  25.809524  12.313406
                (-117.25, -114.31]   3.861184  1.805478  22.551724  12.084738
(34.1, 34.26]   (-119.91, -118.49]   5.148549  1.985111  25.082988   8.939236
                (-118.49, -118.3]    4.080295  1.777639  32.691849   9.880686
                (-118.3, -118.13]    4.283538  2.202202  37.904255  11.429384
                (-118.13, -117.89]   4.865886  2.427514  37.328889   9.403092
                (-117.89, -117.25]   3.874902  1.739377  26.263941  12.121626
                (-117.25, -114.31]   3.231963  1.510721  18.988372   8.134884
(34.26, 36.66]  (-121.98, -121.37]   3.981567  1.810332  30.827586  10.870203
                (-121.37, -119.91]   3.307965  1.185521  20.988201   9.769224
                (-119.91, -118.49]   3.353408  1.700751  26.359319  10.934166
                (-118.49, -118.3]    3.745757  1.401547  26.264463  10.384097
                (-118.3, -118.13]    3.843348  1.344373  20.855072  11.590152
                (-118.13, -117.89]   3.504453  1.022524  16.075472  12.359750
                (-117.89, -117.25]   3.342948  1.198867  14.336364   9.428901
                (-117.25, -114.31]   2.908234  1.172693  19.736842  10.567079
(36.66, 37.48]  (-124.351, -122.29]  6.820343  2.355830  31.428571  15.479633
                (-122.29, -121.98]   5.790986  2.532643  30.359606   9.564897
                (-121.98, -121.37]   4.589755  1.699340  25.220681  11.340371
                (-121.37, -119.91]   2.655521  0.961472  24.375000  10.545032
                (-119.91, -118.49]   3.091592  1.515667  24.951456  13.175683
                (-118.49, -118.3]    2.889590  1.048031  25.800000   7.299924
(37.48, 37.81]  (-124.351, -122.29]  4.224052  1.857259  43.025611  11.071680
                (-122.29, -121.98]   3.783957  1.545953  35.334254  12.673968
                (-121.98, -121.37]   5.412914  2.082735  21.352941  11.876789
                (-121.37, -119.91]   3.016095  1.184719  25.194118  11.904634
                (-119.91, -118.49]   3.447611  0.639684  16.944444   5.915804
(37.81, 38.48]  (-124.351, -122.29]  4.056617  1.694273  30.296131  12.329074
                (-122.29, -121.98]   4.524556  2.159951  32.976994  14.480171
                (-121.98, -121.37]   4.179613  1.852073  20.972222  12.757457
                (-121.37, -119.91]   3.080600  1.171517  25.376623  12.948628
                (-119.91, -118.49]   3.327967  0.327961  17.000000   2.000000
(38.48, 41.95]  (-124.351, -122.29]  2.605523  0.938676  24.882682  10.765444
                (-122.29, -121.98]   2.655656  0.808486  25.648148  10.573565
                (-121.98, -121.37]   2.738421  1.155947  29.823129  12.252065
                (-121.37, -119.91]   3.571912  1.306140  19.731563   9.570167
                (-119.91, -118.49]   2.127233  0.475084  17.000000   3.000000

                                      AveRooms            AveBedrms            \
                                          mean        std      mean       std
qLat            qLon
(32.539, 33.63] (-118.49, -118.3]     5.656577   1.225239  1.522004  0.217067
                (-118.13, -117.89]    5.920610   1.308915  1.155927  0.160483
                (-117.89, -117.25]    5.886267   1.427208  1.095260  0.137718
                (-117.25, -114.31]    5.278766   1.295490  1.073915  0.164264
(33.63, 33.87]  (-118.49, -118.3]     5.411688   1.069302  1.040746  0.061367
                (-118.3, -118.13]     4.436297   0.954655  1.061377  0.085110
                (-118.13, -117.89]    5.281510   1.102027  1.039861  0.084930
                (-117.89, -117.25]    5.729497   1.464021  1.051150  0.097920
                (-117.25, -114.31]    6.851792   3.223026  1.411602  0.636110
(33.87, 34.0]   (-119.91, -118.49]    3.657667   1.315505  1.097859  0.050691
                (-118.49, -118.3]     4.843512   1.094115  1.056857  0.088491
                (-118.3, -118.13]     4.223250   0.753336  1.042103  0.081132
                (-118.13, -117.89]    5.333785   0.972994  1.029572  0.063652
                (-117.89, -117.25]    5.834526   1.277424  1.050617  0.100242
                (-117.25, -114.31]    6.853007   7.028121  1.398523  1.574651
(34.0, 34.1]    (-119.91, -118.49]    6.136858   1.716578  1.082245  0.123084
                (-118.49, -118.3]     4.531700   1.436192  1.063104  0.080267
                (-118.3, -118.13]     3.676160   0.935036  1.059079  0.092509
                (-118.13, -117.89]    4.825734   0.837166  1.028763  0.066584
                (-117.89, -117.25]    5.218920   0.942582  1.056004  0.095299
                (-117.25, -114.31]    5.986773   1.367513  1.090105  0.226170
(34.1, 34.26]   (-119.91, -118.49]    5.818360   1.357830  1.041367  0.085074
                (-118.49, -118.3]     4.809535   1.029697  1.051370  0.075674
                (-118.3, -118.13]     4.931651   1.271498  1.047665  0.067199
                (-118.13, -117.89]    5.666465   1.223806  1.050436  0.088969
                (-117.89, -117.25]    5.900387   1.526758  1.087435  0.218129
                (-117.25, -114.31]   10.075050   6.914097  2.132111  1.471083
(34.26, 36.66]  (-121.98, -121.37]    5.497438   1.492340  1.122736  0.159847
                (-121.37, -119.91]    5.501812   1.116802  1.094689  0.136272
                (-119.91, -118.49]    5.442527   1.617694  1.081791  0.322030
                (-118.49, -118.3]     5.206721   1.762789  1.097772  0.408895
                (-118.3, -118.13]     5.836368   1.019067  1.096783  0.089985
                (-118.13, -117.89]    5.881179   0.780821  1.133149  0.138404
                (-117.89, -117.25]    5.819976   1.189912  1.125644  0.172376
                (-117.25, -114.31]    7.301825   4.482932  1.493648  0.822529
(36.66, 37.48]  (-124.351, -122.29]   6.831308   0.796553  1.167245  0.142659
                (-122.29, -121.98]    5.653640   1.390159  1.046126  0.107480
                (-121.98, -121.37]    5.421622   1.476575  1.048196  0.167226
                (-121.37, -119.91]    5.275709   0.941242  1.068344  0.140677
                (-119.91, -118.49]    5.754875   3.248683  1.126388  0.645795
                (-118.49, -118.3]     5.399943   0.888376  1.086119  0.128455
(37.48, 37.81]  (-124.351, -122.29]   4.988860   1.166137  1.058062  0.104052
                (-122.29, -121.98]    5.121494   1.049324  1.048251  0.111376
                (-121.98, -121.37]    6.271525   1.772748  1.055701  0.129231
                (-121.37, -119.91]    5.390533   1.293495  1.069155  0.161308
                (-119.91, -118.49]   14.620639  12.071009  3.272231  2.603936
(37.81, 38.48]  (-124.351, -122.29]   5.459806   1.125042  1.060036  0.129512
                (-122.29, -121.98]    5.747651   1.305264  1.047693  0.088378
                (-121.98, -121.37]    5.888638   1.120530  1.060442  0.093882
                (-121.37, -119.91]    5.906045   3.550871  1.182559  0.727796
                (-119.91, -118.49]   11.585095   5.735403  3.479035  2.638122
(38.48, 41.95]  (-124.351, -122.29]   5.772042   1.466599  1.212923  0.380079
                (-122.29, -121.98]    5.479712   0.623567  1.079215  0.092091
                (-121.98, -121.37]    5.274807   1.518754  1.083922  0.395443
                (-121.37, -119.91]    7.888790   9.348502  1.508216  1.985004
                (-119.91, -118.49]    7.168680   1.816000  1.535800  0.349571

                                      Population               AveOccup  \
                                            mean          std      mean
qLat            qLon
(32.539, 33.63] (-118.49, -118.3]     668.000000   301.691067  2.383127
                (-118.13, -117.89]    809.500000   405.205903  2.197507
                (-117.89, -117.25]   1452.797244  1881.532638  2.557328
                (-117.25, -114.31]   1478.599214  1157.916668  2.893769
(33.63, 33.87]  (-118.49, -118.3]    1454.646341  1069.124433  2.613470
                (-118.3, -118.13]    1468.629073   904.928295  2.934585
                (-118.13, -117.89]   1496.268065   855.634216  3.085429
                (-117.89, -117.25]   1672.435730  1215.185824  3.164086
                (-117.25, -114.31]   1839.237374  1277.622462  2.728154
(33.87, 34.0]   (-119.91, -118.49]    964.000000   365.778622  1.561999
                (-118.49, -118.3]    1226.874296   904.150817  2.781540
                (-118.3, -118.13]    1465.982116   820.527664  3.865730
                (-118.13, -117.89]   1346.036810   901.690784  3.224068
                (-117.89, -117.25]   2028.298611  1979.983599  3.481347
                (-117.25, -114.31]   2210.057143  2242.622132  2.866828
(34.0, 34.1]    (-119.91, -118.49]   1262.169231   909.965394  2.400254
                (-118.49, -118.3]    1364.564142   877.065865  2.551028
                (-118.3, -118.13]    1581.721063   915.903554  3.764781
                (-118.13, -117.89]   1694.494898  1137.204431  3.630439
                (-117.89, -117.25]   1889.630952  1627.314199  3.372020
                (-117.25, -114.31]   1426.206897   719.267750  2.744893
(34.1, 34.26]   (-119.91, -118.49]   1897.813278  1474.939415  3.035626
                (-118.49, -118.3]    1448.998012  1013.210596  2.757283
                (-118.3, -118.13]    1338.816489   811.244733  2.791721
                (-118.13, -117.89]   1257.093333   752.118327  2.936150
                (-117.89, -117.25]   1770.542751  1427.332943  3.104692
                (-117.25, -114.31]   1212.116279   976.669592  2.665826
(34.26, 36.66]  (-121.98, -121.37]   1349.991379  2659.143610  2.510306
                (-121.37, -119.91]   1388.545723  1017.818470  4.533711
                (-119.91, -118.49]   1349.530466   954.565583  3.163927
                (-118.49, -118.3]    1889.760331  1683.492303  3.600766
                (-118.3, -118.13]    1726.333333  1476.194608  2.900702
                (-118.13, -117.89]   2304.150943  2416.293286  3.064584
                (-117.89, -117.25]   1893.590909  1364.610811  2.908594
                (-117.25, -114.31]   1596.065789  1643.809813  2.865787
(36.66, 37.48]  (-124.351, -122.29]  1682.000000  1833.465935  2.746011
                (-122.29, -121.98]   1222.315271   846.316226  2.675765
                (-121.98, -121.37]   1661.184111  1208.527916  3.151461
                (-121.37, -119.91]   1247.187500   733.682460  3.292621
                (-119.91, -118.49]   1310.067961   800.047459  2.943195
                (-118.49, -118.3]    1212.200000   289.888024  2.496066
(37.48, 37.81]  (-124.351, -122.29]  1286.370198   775.363679  2.633853
                (-122.29, -121.98]   1247.109116   975.883089  2.783999
                (-121.98, -121.37]   1726.241176  1554.186876  2.824960
                (-121.37, -119.91]   1225.429412  1028.526224  3.056550
                (-119.91, -118.49]    573.555556   385.337930  2.524711
(37.81, 38.48]  (-124.351, -122.29]  1216.794643   807.898803  2.555806
                (-122.29, -121.98]   1312.975460  1010.012054  4.500396
                (-121.98, -121.37]   1741.203704  1821.140845  2.993574
                (-121.37, -119.91]   1101.954545   750.892912  3.046026
                (-119.91, -118.49]    406.666667   349.663171  2.545695
(38.48, 41.95]  (-124.351, -122.29]   984.945996   625.938548  2.624755
                (-122.29, -121.98]   1037.787037   576.098659  2.727878
                (-121.98, -121.37]   1289.817687  1060.265675  2.675110
                (-121.37, -119.91]   1253.162242  1099.843903  3.846054
                (-119.91, -118.49]    580.333333   210.770808  2.601016

                                                 Latitude            \
                                           std       mean       std
qLat            qLon
(32.539, 33.63] (-118.49, -118.3]     0.186925  33.358000  0.040866
                (-118.13, -117.89]    0.355265  33.616923  0.012133
                (-117.89, -117.25]    0.662883  33.306988  0.278961
                (-117.25, -114.31]    0.921515  32.848029  0.213010
(33.63, 33.87]  (-118.49, -118.3]     0.454958  33.815000  0.045389
                (-118.3, -118.13]     0.867525  33.804912  0.039007
                (-118.13, -117.89]    0.863522  33.776620  0.065311
                (-117.89, -117.25]    0.964295  33.751961  0.070038
                (-117.25, -114.31]    0.818312  33.751414  0.056109
(33.87, 34.0]   (-119.91, -118.49]    0.336573  33.985714  0.012724
                (-118.49, -118.3]     0.661933  33.947129  0.040775
                (-118.3, -118.13]     0.722817  33.941744  0.034547
                (-118.13, -117.89]    0.722742  33.933108  0.035784
                (-117.89, -117.25]    4.053056  33.936597  0.038692
                (-117.25, -114.31]    0.679736  33.939571  0.031597
(34.0, 34.1]    (-119.91, -118.49]    0.698014  34.044462  0.022778
                (-118.49, -118.3]     1.656751  34.050804  0.026955
                (-118.3, -118.13]     1.263653  34.054004  0.027681
                (-118.13, -117.89]    0.721388  34.063342  0.026900
                (-117.89, -117.25]    1.202019  34.065310  0.026644
                (-117.25, -114.31]    0.539470  34.052644  0.022745
(34.1, 34.26]   (-119.91, -118.49]    1.040308  34.200311  0.034673
                (-118.49, -118.3]     0.812410  34.188608  0.038772
                (-118.3, -118.13]     0.592450  34.159362  0.039390
                (-118.13, -117.89]    0.731706  34.139244  0.021689
                (-117.89, -117.25]    0.606733  34.137361  0.029877
                (-117.25, -114.31]    0.388910  34.173953  0.051798
(34.26, 36.66]  (-121.98, -121.37]    0.642251  36.573793  0.083642
                (-121.37, -119.91]   27.153379  35.239381  0.532866
                (-119.91, -118.49]    2.535808  35.384194  0.846875
                (-118.49, -118.3]     1.110337  34.485289  0.428972
                (-118.3, -118.13]     0.586149  34.726232  0.286213
                (-118.13, -117.89]    0.557475  34.737736  0.350262
                (-117.89, -117.25]    0.628511  34.827000  0.515915
                (-117.25, -114.31]    0.583360  34.726053  0.363806
(36.66, 37.48]  (-124.351, -122.29]   0.709283  37.384286  0.101136
                (-122.29, -121.98]    0.766041  37.312660  0.154872
                (-121.98, -121.37]    0.868281  37.208865  0.200818
                (-121.37, -119.91]    0.622998  37.164708  0.224531
                (-119.91, -118.49]    0.630579  36.813908  0.135147
                (-118.49, -118.3]     0.365466  37.293000  0.142052
(37.48, 37.81]  (-124.351, -122.29]   0.862077  37.710664  0.082758
                (-122.29, -121.98]    0.723857  37.698812  0.090254
                (-121.98, -121.37]    0.426041  37.679235  0.081342
                (-121.37, -119.91]    1.439324  37.662294  0.086744
                (-119.91, -118.49]    0.322575  37.640000  0.080440
(37.81, 38.48]  (-124.351, -122.29]   0.491988  38.146458  0.218986
                (-122.29, -121.98]   48.595829  37.993512  0.162634
                (-121.98, -121.37]    0.597811  38.121759  0.201024
                (-121.37, -119.91]    2.481695  38.055541  0.146955
                (-119.91, -118.49]    0.078924  38.076667  0.165025
(38.48, 41.95]  (-124.351, -122.29]   0.526489  39.993091  0.984049
                (-122.29, -121.98]    0.329911  39.847130  0.668319
                (-121.98, -121.37]    0.756531  38.942490  0.544983
                (-121.37, -119.91]   24.530530  39.002375  0.540785
                (-119.91, -118.49]    0.437910  38.576667  0.098658

                                      Longitude              Prices
                                           mean       std      mean       std
qLat            qLon
(32.539, 33.63] (-118.49, -118.3]   -118.354000  0.070569  3.804400  0.805596
                (-118.13, -117.89]  -117.919038  0.025840  4.287755  1.055875
                (-117.89, -117.25]  -117.497106  0.213221  2.949287  1.257007
                (-117.25, -114.31]  -116.940753  0.480102  1.735214  0.837021
(33.63, 33.87]  (-118.49, -118.3]   -118.347846  0.037556  3.558457  0.909334
                (-118.3, -118.13]   -118.198922  0.050774  2.119712  0.816959
                (-118.13, -117.89]  -117.988065  0.066924  2.310138  0.763018
                (-117.89, -117.25]  -117.763878  0.146182  2.454210  0.956174
                (-117.25, -114.31]  -116.650253  0.432197  1.353934  0.801995
(33.87, 34.0]   (-119.91, -118.49]  -118.508571  0.019518  4.678579  0.590101
                (-118.49, -118.3]   -118.365422  0.049163  2.576102  1.189463
                (-118.3, -118.13]   -118.221013  0.046871  1.351019  0.436488
                (-118.13, -117.89]  -118.027035  0.068245  2.130618  0.735354
                (-117.89, -117.25]  -117.550104  0.191636  1.759021  0.790830
                (-117.25, -114.31]  -116.816286  0.491664  1.057314  0.438966
(34.0, 34.1]    (-119.91, -118.49]  -118.562769  0.111587  4.757300  0.482509
                (-118.49, -118.3]   -118.373338  0.053731  3.258809  1.338952
                (-118.3, -118.13]   -118.217192  0.051695  1.736531  0.621202
                (-118.13, -117.89]  -118.011684  0.073228  1.896092  0.408375
                (-117.89, -117.25]  -117.594333  0.177779  1.411510  0.657600
                (-117.25, -114.31]  -117.087241  0.194480  1.428920  0.681092
(34.1, 34.26]   (-119.91, -118.49]  -118.771971  0.256663  2.785644  0.994248
                (-118.49, -118.3]   -118.394394  0.050920  2.667681  1.046998
                (-118.3, -118.13]   -118.211144  0.050014  2.718129  1.088445
                (-118.13, -117.89]  -118.033733  0.067990  2.913930  1.221117
                (-117.89, -117.25]  -117.489554  0.221168  1.557829  0.857452
                (-117.25, -114.31]  -116.831163  0.517286  1.082186  0.456487
(34.26, 36.66]  (-121.98, -121.37]  -121.825345  0.135508  2.744475  1.106139
                (-121.37, -119.91]  -120.536313  0.270606  1.817870  0.858391
                (-119.91, -118.49]  -119.241944  0.354422  1.520766  1.175573
                (-118.49, -118.3]   -118.428099  0.040933  1.694670  0.603732
                (-118.3, -118.13]   -118.178696  0.045079  1.489043  0.721554

## Ejercicio 4

### Estandarización de variables.

Importa el dataset `iris` de `sklearn`. Almacena este dataset como un objeto `pandas`, con los correpondientres nombres de variables. 

Llamamos tipificar una variable al proceso de convertirla en una Normal Estándar $N(\mu=0,\sigma =1)$.
Busca en `sklearn.preprocessing` un método que te permita tipificar cada variable numérica del objeto pandas de `iris` de forma que:

- El valor medio de cada columna sea 0
- La desviación típica de cada columna sea 1

a) Aplica el método para crear un nuevo dataframne `iris_typ` que cumpla esas condiciones.  Comprueba que la tipificación es correcta.

**(1 puntos)** <span style="font-family: Courier New; background-color: #ffcc5c; color: #000000; padding: 3px; ">EG</span>

In [24]:
from sklearn import datasets
import pandas as pd
iris_bunch = datasets.load_iris()
iris_pandas = pd.DataFrame(iris_bunch['data'],columns=iris_bunch['feature_names'])
iris_pandas['Species'] = iris_bunch['target_names'][iris_bunch['target']]

In [25]:
# Si miramos la documentación de sklearn.preprocessing, 
#   tenemos el método StandardScaler que hace lo indicado 
#   en el enunciado, así que lo usamos de la forma que nos 
#   indica la documentación:

from sklearn.preprocessing import StandardScaler

iris_typ = iris_pandas.copy()
s = StandardScaler()
s.fit(iris_pandas.iloc[:,:-1])

StandardScaler()

In [26]:
# Usamos el método .fit_transform() para encontrar los valores
#    tipificados 

iris_typ.iloc[:,:-1] = s.fit_transform(iris_typ.iloc[:,:-1])
iris_typ.describe()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
count,1.500000e+02,1.500000e+02,1.500000e+02,1.500000e+02
mean,-4.736952e-16,-7.815970e-16,-4.263256e-16,-4.736952e-16
std,1.003350e+00,1.003350e+00,1.003350e+00,1.003350e+00
min,-1.870024e+00,-2.433947e+00,-1.567576e+00,-1.447076e+00
25%,-9.006812e-01,-5.923730e-01,-1.226552e+00,-1.183812e+00
50%,-5.250608e-02,-1.319795e-01,3.364776e-01,1.325097e-01
75%,6.745011e-01,5.586108e-01,7.627583e-01,7.906707e-01
max,2.492019e+00,3.090775e+00,1.785832e+00,1.712096e+00

b) Busca y aplica un segundo mecanismo de normalización de forma que:

- el mínimo de la variable sea 0, y 
- el máximo de cada variable sea 1 

Comprueba que la normalizacion es correcta

**(0.5 puntos)** <span style="font-family: Courier New; background-color: #ffcc5c; color: #000000; padding: 3px; ">EG</span>

In [27]:
# En la documentación también vemos el método MinMaxScaler,
#    que hace jústamente lo requerido por el enunciado
# Su aplicación es idéntica al caso anterior 

from sklearn.preprocessing import MinMaxScaler

smm = MinMaxScaler()
iris_typ.iloc[:,:-1] = smm.fit_transform(iris_typ.iloc[:,:-1])
iris_typ.describe()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
count,150.000000,150.000000,150.000000,150.000000
mean,0.428704,0.440556,0.467458,0.458056
std,0.230018,0.181611,0.299203,0.317599
min,0.000000,0.000000,0.000000,0.000000
25%,0.222222,0.333333,0.101695,0.083333
50%,0.416667,0.416667,0.567797,0.500000
75%,0.583333,0.541667,0.694915,0.708333
max,1.000000,1.000000,1.000000,1.000000

### Ejercicio Opcional


La Oficina de Estadísticas de Transporte del Departamento de Transporte de los Estados Unidos (DOT) rastrea el rendimiento en término de puntualidad de los vuelos en EE.UU. operados por grandes compañías aéreas. 

La información resumida sobre el número de vuelos puntuales, retrasados, cancelados y desviados se publica en el Informe mensual del consumidor de viajes aéreos del DOT y en este conjunto de datos de retrasos y cancelaciones de vuelos de 2015. Encontrarás una muestra de estos datos en el fichero `vuelos.csv` en la carpeta de datos. 

Importa el fichero de vuelos. Imputa los valores perdidos con la mediana de cada columna.

Calcula y muestra la matriz de correlación de las siguientes variables a partir de la matriz imputada. 

- `ARRIVAL_DELAY`
- `DIVERTED`
- `CANCELLED`	
- `AIR_SYSTEM_DELAY`
- `SECURITY_DELAY`
- `AIRLINE_DELAY`
- `LATE_AIRCRAFT_DELAY`
- `WEATHER_DELAY`

Interpreta el resultado


 <span style="font-family: Courier New; background-color: #f2ae72; color: #000000; padding: 3px; ">EI</span>

In [28]:
data = pd.read_csv("data/vuelos.csv", 
                   sep=";",
                   decimal=",")
data.head()
f = data[['ARRIVAL_DELAY',
    'DIVERTED',
    'CANCELLED',
    'AIR_SYSTEM_DELAY',
    'SECURITY_DELAY',
    'AIRLINE_DELAY',
    'LATE_AIRCRAFT_DELAY',
    'WEATHER_DELAY']]

In [29]:
from sklearn.impute import SimpleImputer

I = SimpleImputer(strategy="median")
impf= pd.DataFrame(I.fit_transform(f), 
                   columns = f.columns)

In [30]:
impf.head()

,ARRIVAL_DELAY,DIVERTED,CANCELLED,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
0,-22.0,0.0,0.0,11.0,0.0,7.5,0.0,0.0
1,-9.0,0.0,0.0,11.0,0.0,7.5,0.0,0.0
2,5.0,0.0,0.0,11.0,0.0,7.5,0.0,0.0
3,-9.0,0.0,0.0,11.0,0.0,7.5,0.0,0.0
4,-21.0,0.0,0.0,11.0,0.0,7.5,0.0,0.0

In [31]:
impf.corr()

,ARRIVAL_DELAY,DIVERTED,CANCELLED,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
ARRIVAL_DELAY,1.000000,-0.005171,-0.049490,0.063397,0.172322,0.577452,0.342010,0.489017
DIVERTED,-0.005171,1.000000,-0.009581,-0.001497,-0.001001,-0.003774,-0.001340,-0.003668
CANCELLED,-0.049490,-0.009581,1.000000,-0.014327,-0.009581,-0.036120,-0.012823,-0.035105
AIR_SYSTEM_DELAY,0.063397,-0.001497,-0.014327,1.000000,-0.060304,-0.172941,-0.080708,-0.107038
SECURITY_DELAY,0.172322,-0.001001,-0.009581,-0.060304,1.000000,0.205878,-0.001340,-0.003668
AIRLINE_DELAY,0.577452,-0.003774,-0.036120,-0.172941,0.205878,1.000000,-0.024187,-0.067420
LATE_AIRCRAFT_DELAY,0.342010,-0.001340,-0.012823,-0.080708,-0.001340,-0.024187,1.000000,-0.004909
WEATHER_DELAY,0.489017,-0.003668,-0.035105,-0.107038,-0.003668,-0.067420,-0.004909,1.000000

In [32]:
# Vemos que la variable que tiene más correlación con los retrasos 
#   son la AIRLINE_DELAY, seguida de la WEATHER_DELAY
# La que menos correlación muestra es la de AIR_SYSTEM_DELAY